/* STYLES GENERAUX */
html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul{
    padding: 0px;
}

li{
    list-style-type: none;
}

/* STYLE DU MENU */
#menu {
    /*A faire*/
}

/* PAGE SIGNIN ET SIGNOUT */
.signform {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
